<!-- Modal Producto -->

<div id="mdlProduct" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="mdlP modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
              <button type="button" id="mdlBtnClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div id="mdlP-item">
                  <div class="__items_item d-flex flex-row align-items-center">
                      <img id="mdlP-img" src="img/imgCaract.svg" alt="category">
                      <div class="container-xxl">
                          <h4 id="mdlP-title"></h4>
                          <p id="mdlP-description"></p>
                          <div class="d-flex flex-row-reverse ">
                              <h5 id="mdlP-price"></h5>
                          </div>
                      </div>
                      <input id="mdlP-id" type="hidden" name="idProduct">
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <div class="mdlP-quantity d-flex">
                  <button class="qtt qttMinus"><i class="bi bi-dash-lg"></i></button>
                  <input type="text" class="qtt qttValue" name="quantityProduct" value="1" pattern="[0-9]{100}" readonly>
                  <button class="qtt qttPlus"><i class="bi bi-plus-lg"></i></button>
              </div>
              <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>-->
              <button type="button" class="btn btn-primary" id="addToCart">ADD TO CART</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal Carrito -->
<div id="mdlCart" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div id="mdlContainer" class="modal-dialog modal-fullscreen-lg-down modal-dialog-scrollable d-flex justify-content-end">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">YOUR CART</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex justify-content-center overflow-auto">
              <div id="mdlC-item"></div>
          </div>
          <div class="modal-footer mdlFooter flex-column justify-content-around">
              <div id="totalContainer" class="mdlFooter-cont d-flex flex-row">
                  <h5>TOTAL PRICE</h5>
                  <div class="mdlFooter-subCont d-flex justify-content-end">
                      <h5 class="totalPrice"></h5>
                  </div>
              </div>
              <div class="mdlFooter-cont d-grid gap-2">
                  <button id="btnCheckout" class="btn btn-secondary" type="button" >CHECKOUT</button>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Template of carrito  -->
<template class="templateCart">
  <div class="mdlC-content">
      <div class="d-flex flex-row align-items-center">
          <img class="mdlC-img pointer" src="" alt="category">
          <div class="container-sm">
              <h4 class="mdlC-title pointer"></h4>
              <h5 class="mdlC-price"></h5>
              <input class="mdlC-id" type="hidden" name="idProduct">
              <div class="mdlC-quantity d-flex justify-content-end">
                  <button class="qtt qttMinus"><i class="bi bi-dash-lg pointer"></i></button>
                  <input type="text" class="qtt qttValue" name="quantityArticle" value="1" pattern="[0-9]{100}" readonly>
                  <button class="qtt qttPlus"><i class="bi bi-plus-lg pointer"></i></button>
              </div>
          </div>
          <div class="mdlC-btnClose" class="d-flex align-items-start">
              <button class="btn-close" type="button" aria-label="Close"></button>
          </div>
      </div>
  </div>
</template>