<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Suculentos</title>
        <link rel="stylesheet" href="css/estilo.css">
        <link rel="stylesheet" href="css/modals.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    </head>
    <body class="contBody">
        <header>
            <!--Nav importado-->
            <%- include("nav.html") %>
        </header>
        <section>
            <div class="contSection-menuFilter container my-5">
                <h2 id="ttl-menu">MENU</h2>
                <div class="pstStatic btn-group mb-5">
                    <input class="filter bg-light bg-gradient" id="filterType" type="text" disabled value="<%= filterNom %>">
                    <button type="button" class="pstStatic btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent"></button>
                    <input id="filterID" type="hidden" name="idFilter" value="<%= filterNum %>">
                    <ul id="typeOptions" class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <li class="dropdown-item">ALL<input type="hidden" value="0"></input></li>
                        <li class="dropdown-item">DISHES<input type="hidden" value="1"></input></li>
                        <li class="dropdown-item">ACCOMPANIMENTS<input type="hidden" value="2"></input></li>
                        <li class="dropdown-item">BREDS<input type="hidden" value="3"></input></li>
                        <li class="dropdown-item">DESSERT<input type="hidden" value="4"></input></li>
                    </ul>
                </div>

                <div class="contSection-container">
                    <div class="container-items justify-content-center">
                        <div id="items" class="container-items"></div> 

                        <template class="templateItem">
                            <div class="__items_item d-flex pointer" data-bs-toggle="modal" data-bs-target="#mdlProduct">
                                <img class="__item-img mb-3" alt="category">
                                <h4 class="__item-title pointer mt-3"></h4>
                                <p class="__item-price"></p>
                                <input class="__item-id" type="hidden" name="id">
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            
            <%- include("modals/itemHandlers.html"); %>
        </section>
        <footer></footer>
        <script type="module" src="../js/menu.js"></script>
        <script type="module" src="../js/pedido.js"></script>
        <script type="text/javascript" src="../js/movilNav.js"></script>
    </body>
</html>